# Données (stockées dans HDFS, pas dans Git)
data/raw/*.parquet
data/raw/*.csv
data/processed/*.parquet
data/processed/*.csv

# Modèles ML
# Modèles ML (le dossier est gardé, mais pas son contenu)
models/*.pkl
models/*.zip
models/rf_model_v1/

# Python
__pycache__/
*.pyc
.pytest_cache/
htmlcov/
.coverage

# Environnements
.env
venv/

# Jupyter
.ipynb_checkpoints/

# Docker volumes
docker/volumes/